name: CI/CD

on:
  push:
    branches: [ master ]

jobs:
  build-deploy:
    uses: PARADOX-BSSM/windeath44.manifest.ci/.github/workflows/ci.yml@master
    with:
      deploy_repo: 'PARADOX-BSSM/windeath44.manifest.values'
      # deploy_path_prefix: 'charts'  # 기본값 사용시 생략 가능
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
